<div>
  <div>
    <h1>
      My conversations
    </h1>
  </div>
</div>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Contact
        </th>

        <th>
          Lastest message
        </th>

        <th>
          Message sent
        </th>
        <th></th>
      </tr>
      <% @contact_users_id.each_with_index do |a_contact, n| %>
      <% @my_messages = Message.where({:sender_id=>@current_user.id, :receiver_id=> a_contact}).or(Message.where({:sender_id=>a_contact, :receiver_id=> @current_user.id})).order({ :created_at => :desc })%>
        <% @my_messages.each_with_index do |a_message, count| %>
          <% if count == 0 %>
        <tr>
          <td>
            <%= User.where({:id=>a_contact}).first.username%>
          </td>

          <td>
            <%= a_message.content %>
          </td>

          <td>
            <%= time_ago_in_words(a_message.created_at) %> ago
          </td>

          <td>
            <a href="\messages\<%=a_contact%>">
              Check out chat history
            </a>
          </td>
        </tr>
      <% end %>
      <% end %>
      <% end %>

    </table>

    <hr>
  </div>
</div>
<hr>
