<div>
  <div>
    <h1>
      My comments
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <% if @current_user.comments.count != 0%>
    <table border="1">
      <tr>
        <th>
          Body
        </th>

        <th>
          Photo Owner
        </th>

        <th>
          Created at
        </th>


        <th>
        </th>
      </tr>

      <% @current_user.comments.each do |a_comment| %>
      <tr>

        <td>
          <%= a_comment.body %>
        </td>

        <td>
          <%= a_comment.photo.owner.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_comment.created_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_comment.photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
    <%else%>
    <div>You haven't commented any post yet.</div>
    <%end%>
  </div>
</div>

<hr>
