<h1>Sign up</h1>
<div>Welcome to Stage!<br> Stage is a platform for amateur musicians to get to know each other, post music demos, pictures, and make bands! Come join the commuity and meet your future band members!</div>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="username_box">Username</label>
      
    <input type="text" id="username_box" name="query_username">
  </div>
         
  <!-- <div>
    <label for="genre_box">Genre</label>
      
    <input type="text" id="genre_box" name="query_genre">
  </div>
         
  <div>
    <label for="age_box">Age</label>
      
    <input type="text" id="age_box" name="query_age">
  </div>
         
  <div>
    <label for="role_box">Role</label>
      
    <input type="text" id="role_box" name="query_role">
  </div>
         
  <div>
    <label for="time_commitment_box">Time commitment</label>
      
    <input type="text" id="time_commitment_box" name="query_time_commitment">
  </div>
         
  <div>
    <label for="experience_box">Experience</label>
      
    <input type="text" id="experience_box" name="query_experience">
  </div> -->
         
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
